<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" /> <!-- PrefixLocalCallsWithThis -->
    <Rule Id="SA1309" Action="None" /> <!-- FieldNamesMustNotBeginWithUnderscore -->
    <Rule Id="SA1633" Action="None" /> <!-- FileMustHaveHeader -->
    <Rule Id="SA1652" Action="None" /> <!-- EnableXmlDocumentationOutput -->
  </Rules>
</RuleSet>